{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav class="greedy-nav masthead-nav" aria-label="Primary navigation">
        <ul class="visible-links masthead-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.name | default: site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li class="masthead__menu-item masthead__menu-item--icon"><a href="mailto:wangzx@princeton.edu" aria-label="Email" title="Email"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
          <li class="masthead__menu-item masthead__menu-item--icon"><a href="https://scholar.google.com/citations?user=vNJDZyEAAAAJ" aria-label="Google Scholar" title="Google Scholar"><i class="ai ai-google-scholar" aria-hidden="true"></i></a></li>
          <li class="masthead__menu-item masthead__menu-item--icon"><a href="https://github.com/zixuan-wang-dlt" aria-label="GitHub" title="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a></li>
          <li class="masthead__menu-item masthead__menu-item--icon"><a href="https://twitter.com/zzZixuanWang" aria-label="Twitter" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
          <li class="masthead__menu-item masthead__menu-item--icon"><a href="https://drive.google.com/file/d/1rqGAPJGkswxo4RWdz4DN4GxnNItJiIE4/view?usp=sharing" aria-label="CV" title="CV"><i class="fas fa-file-alt" aria-hidden="true"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
